<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/main.css">
    <title>Document</title>
    <%- include('partes/estilos') %>
</head>

<body>
    <%- include('partes/nav') %>
        <main class="w-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-l">
                    about
                </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa expedita sit deserunt dolore ea,
                    repellat quisquam aliquam iste sint molestiae, eum cumque sapiente atque iusto explicabo. At
                    repellat officia commodi maxime animi suscipit tempore, dicta consequatur et id culpa reprehenderit
                    obcaecati! Quos culpa sed, est veniam alias iusto esse aliquid aut, ipsam praesentium quo ex odit
                    dolore ad, recusandae nobis molestias rerum. Dolorem vitae nesciunt veniam amet et, saepe rerum
                    voluptatem sit placeat voluptates ut repellat molestiae ducimus, atque delectus incidunt fugit nulla
                    quaerat fuga. Ducimus sequi magnam inventore corrupti.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam labore rerum qui optio aspernatur
                    cupiditate repudiandae. Molestias reiciendis soluta consequatur debitis mollitia, neque consectetur
                    error aut totam ipsa eos facilis provident. Id tempora animi sed, aut iste sapiente voluptatibus
                    eius repellat quos nemo deserunt aspernatur, provident expedita totam laborum eveniet. Deserunt
                    dolores, accusamus sapiente minus odio ullam quam illo eos dolor natus soluta earum quis blanditiis
                    atque sed qui assumenda nemo consequuntur ut non nihil? Enim deserunt eligendi architecto corrupti
                    laboriosam mollitia aut rem pariatur? Amet, illum consectetur! Eligendi illum et fugit ratione quis
                    explicabo atque consectetur sed commodi laborum quam inventore, cum temporibus optio doloribus
                    possimus sapiente unde nesciunt. Consectetur error, non recusandae necessitatibus nulla, natus qui
                    ex velit vero cumque deleniti, fugit accusantium aperiam pariatur atque nisi. Blanditiis incidunt
                    dolorem commodi, perferendis nihil, est totam numquam natus eius provident consequatur quod quis
                    repellendus rem, dignissimos explicabo. Vel similique asperiores, amet sint adipisci neque! Nisi
                    totam at sit architecto voluptatum debitis iusto, laudantium, cupiditate blanditiis nobis illum
                    tenetur hic eveniet dolore, temporibus alias molestiae similique. Quam deserunt quaerat odit,
                    aliquam suscipit eligendi ratione rerum sint in nisi ducimus. Debitis saepe ab expedita amet quo
                    fugit odit nihil placeat illo.</p>
            </section>
        </main>
        <%- include('partes/footer')%>
</body>

</html>