<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partes/estilos') %>
</head>

<body>
    <%- include('partes/nav') %>
        <header class="container w-108 d-flex align-items-center justify-content-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img class="w-50 rounded-circle mt-50 " style="margin-top: 20px;"
                    src="/img/wise_panda_55751_a_red_and_black_logo_for_a_youth_hockey_team_c_ad8a5cc1-2ff8-4be5-acd7-d00a9238bfc1.png">
                <h1 class=" display-1 my-5 text-uppercase fw-bold">PANTERS</h1>
                <a href="https://www.netacad.com/portal/web/self-enroll/m/course-2177160" class="btn btn-primary w-25">IR A CISCO</a>
            </div>
        </header>



        <img src="" alt="">
</body>

</html>